@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
};

@custom-variant dark (&:where(.dark, .dark *));


.bg-common {
    @apply bg-gradient-to-r from-purple-500 via-pink-500 to-red-500
}

.activeNav {
    @apply font-bold text-transparent bg-clip-text bg-gradient-to-r from-purple-500 via-pink-500 to-red-500
}

.container{
    @apply lg:container lg:mx-auto px-6
}

/* Dark mode overrides */
.dark body {
  @apply bg-neutral-900 text-gray-500;
}
.dark .card {
  @apply bg-neutral-900 text-gray-400 shadow-black;
}

.dark input,
.dark textarea,
.dark select {
  @apply border border-white bg-neutral-900 text-white placeholder-white focus:ring-white;
}

/* Pagination dots */
.swiper-pagination-bullet {
    background: white !important;
}

/* Active dot */
.swiper-pagination-bullet-active {
    background: white !important;
}
