@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}

;

.bg-common {
    @apply bg-gradient-to-r from-purple-500 via-pink-500 to-red-500
}

.activeNav {
    @apply font-bold text-transparent bg-clip-text bg-gradient-to-r from-purple-500 via-pink-500 to-red-500
}


/* Pagination dots */
.swiper-pagination-bullet {
    background: white !important;
}

/* Active dot */
.swiper-pagination-bullet-active {
    background: white !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: white !important;
}

@media (max-width: 639px) {

    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
}