@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default;
 };

 .bg-common{
    @apply bg-gradient-to-r from-purple-500 via-pink-500 to-red-500
 }
 .activeNav{
    @apply font-bold text-transparent bg-clip-text bg-gradient-to-r from-purple-500 via-pink-500 to-red-500
 }